/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==================================
         UNIFORM STYLES
===================================*/
body {
  background: #000;
  color: #FFF;
  font: 12px/22px;
  padding: 0;
  margin: 0;
	line-height: 1;
}

h1 {
  font-size: 36px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.2em;
}
h2 {
  font-size: 18px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
p {
  font: 12px/22px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 10px;
}
li {
  font: 12px/22px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

/*==================================
             SIDE PANEL
===================================*/
#name{
	margin-bottom: 10px;
}
#side-panel #logo h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	margin-right: 10px;
}
#side-panel {
  width: 34%;
	margin: 0;
	height: 100%;
  display: inline-block;
  position: fixed;
	text-align: right;
	background: rgba(0,0,0,0.5);
	width: 340px;
  padding: 78px 30px 0 30px;
  float: right;
}

#side-panel #nav ul li {
	width: 26px;
	margin-left: 10px;
	display: block;
}

#side-panel #nav .nav_1 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_2 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_3 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_4 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_5 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_6 span {
	height: 17px;
	background: url() top right no-repeat;

}

#side-panel #nav .nav_7 span {
	height: 17px;
	background: url() top right no-repeat;

}

/*==================================
              MAIN
===================================*/
#main {
  width: 63%;
  margin: 0;
  display: inline-block;
  float: right;
	text-align: left;
}

#main .panel {
  width: 600px;
  padding: 0 30px 0 0;
  position: relative;
	background: rgba(0,0,0,0.5);
}

.box {
padding: 78px 0 70px 0;
margin-bottom: 350px;
position: relative;
text-align: center;

}

#bio p {
	text-align: left;
}

.backstretch {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
