/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==================================
         UNIFORM STYLES
===================================*/
body {
  background: #000;
  color: #FFF;
  font: 12px/22px;
  padding: 0;
  margin: 0;
	line-height: 1;
}

h1 {
  font-size: 36px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.2em;
}
h2 {
  font-size: 18px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
	margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
p {
  font: 12px/22px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 10px;
	font-weight: 300;
}
li {
  font: 12px/22px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 20px;
}

a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: inherit;
	text-decoration: none;
	vertical-align: top;
	cursor: pointer;
}

/*==================================
             SIDE PANEL
===================================*/
#sub-head-1{
	margin-bottom: 22px;
}
#sub-head-2 {
	margin-bottom: 45px;
}
#side-panel #logo h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	margin-right: 10px;
}
#side-panel {
  width: 34%;
	margin: 0;
	height: 100%;
  display: inline-block;
  position: fixed;
	text-align: right;
	background: rgba(0,0,0,0.5);
	width: 340px;
  padding: 78px 30px 0 30px;
  float: right;
}


#side-panel #nav ul li{
		font-size: 13px;

}



#side-panel #nav ul li span {
    width: 28px;
    margin-left: 15px;
		padding-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
}

#side-panel #nav ul .nav_1 span {
  height: 24px;
	background: url("../img/news.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_2 span {
  height: 24px;
	background: url("../img/sound-mix.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_3 span {
  height: 24px;
	background: url("../img/documents.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_4 span {
  height: 24px;
	background: url("../img/back-in-time.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_5 span {
  height: 24px;
	background: url("../img/laptop.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_6 span {
  height: 24px;
	background: url("../img/game-controller.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_7 span {
  height: 24px;
	background: url("../img/mail-with-circle.svg") right bottom no-repeat;
}

#side-panel #nav ul .nav_8 span {
  height: 24px;
	background: url("../img/laptop.svg") right bottom no-repeat;
}





/*==================================
              MAIN
===================================*/
#main {
  width: 63%;
  margin: 0;
  display: inline-block;
  float: right;
	text-align: left;
}

#pic{
	margin-top: 82px;
}
#main .panel {
  width: 600px;
	margin-top: 30px;
  padding: 0 30px 0 0;
  position: relative;
	background: rgba(0,0,0,0.5);
}

.box {
padding: 50px 0 70px 0;
margin-bottom: 350px;
position: relative;
text-align: left;

}

#bio p {
	text-align: left;
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 28px;
}

#work p {
		text-align: left;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 28px;
	}

	#skills ul li {
		text-align: left;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 28px;
	}

	#education h4 {
		text-align: left;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 28px;
	}

	#education p {
		text-align: left;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 28px;
	}
.sub {
	text-align: left;
	margin-bottom: 24px;
	margin-left: 10px;
	font-size: 18px;
}

.jump {
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 10px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: rgba(0,0,0,0.5) repeat;
  text-transform: uppercase;
	box-shadow: 0px 1px 7px 0px rgba(00, 00, 00, .7);
}

.backstretch {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
