/* Scss Document */


body{
	display: flex;
	align-content: center;
}


/*==================================
             SIDE PANEL
===================================*/
#side-panel {
  width: 30%;  margin: 0;
  display: inline-block;
  position: fixed;
}

#side-panel #logo {
  width: 240px;
  padding: 78px 30px 0 30px;
  float: right;
}

/*==================================
              MAIN
===================================*/
#main {
  width: 50%;
  margin: 0;
  display: inline-block;
  float: right;
}

#main .panel {
  width: 400px;
  padding: 0 30px 0 0;
  position: relative;
}

.box {
padding-top: 78px;
margin-bottom: 350px;
position: relative;
}


.backstretch {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
